<div
  class="d-flex flex-column align-items-sm-start px-3 pt-3 text-white min-vh-100 rounded"
>

  <span class="fs-2 d-none d-sm-inline pt-3 pb-2 align-middle mx-auto">Mori Engenharia</span>

  <span class="fs-7 d-none d-sm-inline pt-0 pb-1 align-middle mx-auto">Controle de Ordens de Refrigeração</span>
  <hr/>
  <ul
    class="nav nav-pills flex-column mb-sm-auto mb-0"
    id="menu"
  >
    <li class="nav-item">
      <a href="#" class="nav-link align-middle px-2">
        <i class="fs-3 bi-house-door-fill"></i>
        <span class="ms-1 d-none d-sm-inline text-white">Home</span>
      </a>
    </li>

    <li>
      <a
        href="#"
        data-bs-toggle="collapse"
        class="nav-link px-2 align-middle"
      >
        <i class="fs-4 bi-calendar3"></i>
        <span class="ms-2 d-none d-sm-inline text-white">Ordens No Mês</span>
      </a>
    </li>

    <! -----------------------------------inicicio lista de funcionarios-------------------------- >
    <li>
      <a
        href="#submenu1"
        data-bs-toggle="collapse"
        class="nav-link px-2 align-middle"
      >
        <i class="fs-4 bi-people"></i>
        <span class="ms-2 d-none d-sm-inline text-white me-5">Ordens por Funcionário</span>
      </a>
      <ul
        class="collapse nav flex-column ms-1"
        id="submenu1"
        data-bs-parent="#menu"
      >
        <li class="w-100">
          <a href="#" class="nav-link px-2 text-white">
            <span class="d-none d-sm-inline">Product</span> 1</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 text-white">
            <span class="d-none d-sm-inline">Product</span> 2</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 text-white">
            <span class="d-none d-sm-inline">Product</span> 3</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 text-white">
            <span class="d-none d-sm-inline">Product</span> 4</a
          >
        </li>
      </ul>
    </li>

    <! ------------------------fim lista de funcionarios ----------------------------- >
    <!--------------------------inicio por empresa------------------------------------->
    <li>
      <a
        href="#submenu2"
        data-bs-toggle="collapse"
        class="nav-link px-2 align-middle"
      >
        <i class="fs-4 bi-building"></i>
        <span class="ms-2 d-none d-sm-inline text-white">Ordens por Empresa</span>
      </a>
      <ul
        class="collapse nav flex-column ms-1"
        id="submenu2"
        data-bs-parent="#menu"
      >
        <li class="w-100">
          <a href="#" class="nav-link px-2 text-white">
            <span class="d-none d-sm-inline">Product</span> 1</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 text-white">
            <span class="d-none d-sm-inline">Product</span> 2</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 text-white">
            <span class="d-none d-sm-inline">Product</span> 3</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 text-white">
            <span class="d-none d-sm-inline">Product</span> 4</a
          >
        </li>
      </ul>
    </li>
    <!--------------------------------------Fim por empresa---------------------------------------->
  </ul>
  <hr />
</div>
