<div class="d-flex justify-content-center">
    <div class="overflow-auto">
      <table
        class="table table-bordered table-striped table-hover table-responsive"
      >
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">PAT</th>
            <th scope="col">Equipamento</th>
            <th scope="col">Funcionário</th>
            <th scope="col">Manutencões</th>
            <th scope="col">Serviços</th>
            <th scope="col">Trocas</th>
            <th scope="col">Fotos Antes</th>
            <th scope="col">Fotos Depois</th>
            <th scope="col">OBS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList">
            <th scope="row">{{ order.ordemID }}</th>
            <td>{{ order.dataFim }}</td>
            <td>{{ order.pat }}</td>
            <td>{{ order.instalacao + ' - ' + order.local + ' - ' + order.equipamento}}</td>
            <td>{{ order.funcionarioID }}</td>
            <td>
              <li class="list-group-item" *ngFor="let manut of order.tipoManut">
                {{ manut }}<br /><br />
              </li>
            </td>
            <td>
              <li
                class="list-group-item"
                *ngFor="let servico of order.tipoServicos"
              >
                {{ servico }}<br /><br />
              </li>
            </td>
            <td>
              <li class="list-group-item" *ngFor="let troca of order.tipoTroca">
                {{ troca }}<br /><br />
              </li>
            </td>
            <td>
              <li
                class="list-group-item image"
                *ngFor="let image of order.fotosAntes"
              >
                <img
                  [src]="urlS3 + image"
                  width="64"
                  height="64"
                  onerror="this.src='assets/nope-not-here.webp'"
                  (click)="goToLink(urlS3 + image)"
                />
              </li>
            </td>
            <td>
              <li
                class="list-group-item image"
                *ngFor="let image of order.fotosDepois"
              >
                <img
                  [src]="urlS3 + image"
                  width="64"
                  height="64"
                  onerror="this.src='assets/nope-not-here.webp'"
                  (click)="goToLink(urlS3 + image)"
                />
              </li>
            </td>
            <td>{{ order.obs }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
